{
  "extends": "airbnb",
  "parser": "@babel/eslint-parser",
  "plugins": [],
  "rules": {
    "max-len": [
      "error",
      { "code": 500, "comments": 500 }
    ],
    "no-unused-expressions": "off",
    "indent": [
      "error", "tab"
    ],
	"no-tabs": ["error", { "allowIndentationTabs": true }],
    "operator-linebreak": ["error", "after"],
    "no-underscore-dangle": ["error", { "allow": ["_data", "_id", "__LOCAL__", "__DEV__"] }],
    "import/named": 2,
    "import/no-cycle": 2,
    "react/prop-types": 0,
    "no-console": ["error", { "allow": ["warn", "error", "info"] }],
    "import/prefer-default-export": 0,
    "camelcase": 2,
    "react/jsx-props-no-spreading": "off",
		"react/jsx-indent-props": ["error", "tab"]
  },
  "env": {
    "browser": true,
    "node": true
  },
   "parserOptions": {
    "ecmaVersion": 2023,
    "requireConfigFile": false,
    "babelOptions": {}
  },
  "globals": {
    "__DEV__": true,
    "FormData": true,
    "fetch": true,
		"test": true,
    "Headers": true,
    "Request": true,
    "XMLHttpRequest": true,
    "File": true,
		"module": true,
		"process": true,
		"arguments": true
  }
}
